<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814316340980-qeisjpvrl714t41dt84h4jiv4uvmmpae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814316340980-qeisjpvrl714t41dt84h4jiv4uvmmpae</string>
	<key>API_KEY</key>
	<string>AIzaSyDdubD_0RDEXTWXRGHF3UWLCE0R41zmPO8</string>
	<key>GCM_SENDER_ID</key>
	<string>814316340980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ticket.ly.NfticketsHackathon</string>
	<key>PROJECT_ID</key>
	<string>nfticketswithfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>nfticketswithfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814316340980:ios:9991119b00a687ba9700a1</string>
</dict>
</plist>